<launch>

  <arg name="model" default="waffle_pi"/>
  <arg name="x_pos" default="0.0"/>
  <arg name="y_pos" default="0.0"/>
  <arg name="z_pos" default="0.0"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find debi_robot)/worlds/empty.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find debi_robot)/description/turtlebot3_$(arg model).urdf.xacro" />

  <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf" args="-urdf -model turtlebot3_$(arg model) -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param robot_description" />

  <!-- Load controllers -->
  <rosparam command="load" file="$(find debi_robot)/config/joints.yaml" />
  
  <!-- Controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner"
      respawn="false" output="screen"
      args="
      joint_state_controller
      right_hand_controller
      left_hand_controller
      --timeout 60
      ">
  </node>

  <!-- rqt -->
  <node name="rqt_publisher" pkg="rqt_publisher" type="rqt_publisher" />

</launch>
